*{
    padding:0;
    margin: 0;
}
nav{
    height: 60px;
    background-color: rgb(233, 255, 106);
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  color: #000; 
  opacity: 0.7; 
}
.home{
    color: rgb(0, 0, 0);
}
.search input{
    border: none;
    background-color:rgba(255, 255, 255, 0.5);
    opacity: 0.7;
    border-radius: 5px;
}
.search{
    border: solid black 2px;
    width: 70%;
    border-radius: 10px;
    display: flex;
    padding: 10px;
}
input:focus{
    outline: none
}
body{
    color: black;
}
input{
    margin-left: 10px;
    width: 100%;
    color: black;
    font-size: x-large;
}
body {
  background-color: #ffffff; 
  background-image: 
    radial-gradient(at 0% 0%, rgb(73, 95, 72) 0, transparent 50%), 
    radial-gradient(at 50% 0%, rgb(89, 117, 107) 0, transparent 50%), 
    radial-gradient(at 100% 0%, rgb(131, 150, 102) 0, transparent 50%);
  background-attachment: fixed;
  min-height: 100vh;
}
body {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgba(101,0,94,1) 3%, rgba(60,132,206,1) 38%, rgba(48,238,226,1) 68%, rgba(255,25,25,1) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}
.home:hover{
    cursor: pointer;
}
.search:hover{
    cursor: grabbing;
}
.buy :hover{
    cursor: pointer;
}
.domain{
     background-color: rgba(0, 0, 0, 0.3);
     opacity: 23;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
     display: flex;
     justify-content: space-around;
     margin: 20px;
     padding: 10px;
     color: #000;
     border: solid white 1px;
     border-radius: 8px;
     font-weight: 600;
}
.domain {
    transition: all 0.35s ease;
}

.domain:hover {
    cursor: pointer;
    transform: translateY(-8px) scale(1.03);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.domain p {
    background-color: rgb(210, 180, 185);
    padding: 5px;
    border-radius: 3px;
}
.recommended{
    height: 300px;
    width: 96%;
    background-color: #000;
    color: azure;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
}
.course-card{
    width: 200px;
}
.course-card img{
    width: 200px;
    height: 50%;
}
.recommended__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}
.recommended {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border: solid white 2px;
}
.recommended__topics{
    height: 200px;
    width: 97%;
    background: rgba(0, 0, 0, 0.4);
   backdrop-filter: blur(15px);
   border: 1px solid rgba(255, 255, 255, 1);
  border: solid white 2px;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}
.topic__container{
    display: flex;
    gap: 10px;
}
.topic__container p{
    border: solid white 2px;
    margin: 20px;
    padding: 20;
    flex-grow: 1;
    font-size: xx-large;
    border-radius: 5px;
    flex-basis: 25%;
    flex-wrap: wrap;
}
.fotter__one{
    display: flex;
    padding: 20px;
    gap: 20px;
    font-size: 30px;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.fotter__two{
    display: flex;
    padding: 20px;


  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  justify-content:space-between ;
}